<body id="homepagebody">
<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h4>Hyolmo Youth Club</h4>
                            <p>Hyolmo Youth Club (HYC) is a non-profit community based registed 501c organization. HYC was started with a simple idea of bringing every Hyolmo Youth in New York together, by building a solid foundation of networking and creating cultural awareness.</p>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h4>Our Objective</h4>                            
                            <ul>
                                 <li> To build social network among Hyolmo Youths of NY.</li>
                                 <li> To promote and create cultural awareness within the community </li>
                                 <li> To educate and build leadership skills.</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h4>How We Work</h4>
                            <p> HYC has been organzing events that meets our organizations' objectives.</p>
                            The past few events were:
                            <ul>
                               <li> New Year's Eve 2015 Party</li>
                               <li> Kid's coloring Project</li>
                               <li> Candle light vigil</li>
                               <li> Bake sale- to raise funds for the earthquake</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
</body>


    

   
    
<script>
setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }

</script>