<div class="one">
	<%= @gallery.event %>
</div>
	<% if admin_signed_in? %>
	<%= render 'pictures/form' %>
	<% end %>
	<br>

<div class="gallery">
	<% @gallery.pictures.each do |pic| %>
<div class="images">
		<%= image_tag pic.image.url(:medium) %>
</div>
	<% if admin_signed_in? %>
		<%= link_to 'Delete', picture_path(pic.id), class: "eventdelete", method: :delete %>
	<% end %>
	<% end %>
</div>


