/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


.logo{
	float: right;
	height: 100px;
	width: 100px;
}
.intro, .objective, .whatwedo{
	margin-left: 240px;
	width: 500px;
	color: #cd6839;

}
#contactform{
	margin-left: 110px;
}
.contactheader{
	margin: auto;
	padding-bottom: 20px;
	font-family: cursive;
	color:#cd6839
}
strong{
	font-family: cursive;
}

