// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 .contactpage{
	
	background-repeat: none;background: url('hyolmo2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.message-form{
	
	
	margin-left: 400px;
}

.msgname, .msgemail, .msgmsg{
	
	margin-left: 100px;
}
.btn{
	margin-right: 100px;
}
h3{
	margin-left: 500px;
	color: #cd6839;	

}
