// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 
.contactpage{
	background: url('hyclub8.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.contactbox{
	background-color: rgba(255,255,255,.5);
	width: 300px;
	margin-left: 35%;
	padding: 5%;
	margin-top: 5%;

}





.contactheader{
	
	color: #cd6839;	
	font-size: 30px;
	font-family: cursive;
	padding: 10px;

}
.ourteampic{
	background-color: #d6d5d5;
}

@media all and (max-width: 400px)  {
.message-form{

	margin-left: 0px;	
}
.contactheader{
	margin-left: 90px;
	color: #cd6839;	
	font-size: 30px;
	font-family: cursive;
	padding: 10px;

}
}

