// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#topics{
	color:#cd6839;

}
.picture{
	height:200px;
	background-image: url('helambhu5.jpg');
	border: 1px red solid;
	
}
.ourteampic{
	background-color:#50b77c;
	
}