// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.postpage{
	background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.postbody{
	background-color: rgba(255,255,255,.6);
	padding: 2%;
	width: 90%;
	margin-left: 5%;

}

.btn, {
	margin-left: 180px;
}
a.test {
    margin-left: 90%;
    color: #cd6839;
}

.comments{
	margin-left: 180px;
	color: grey;
}
.posttitle{
	font-size: 30px;
	color:#cd6839;
	font-family: cursive
}
.whitespace{
	border-top: 1px black solid;

}
 
.delete-btttn, .edit-btttn{
font-size: 20px;
margin-top: 10px;
font-family: times;
margin-left: 10px;
color: grey;

}
@media all and (max-width: 400px)  {
	p{
		padding: 8px;

	}

}

